name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from pyproject.toml
        id: get_version
        run: |
          VERSION=$(grep '^version' pyproject.toml | head -n1 | cut -d '"' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Extract medata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.3.0
        with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
                type=schedule
                type=semver,pattern={{version}}
                type=semver,pattern={{major}}.{{minor}}
                type=semver,pattern={{major}}
                type=ref,event=branch
                type=ref,event=pr
                type=ref,event=tag
                type=sha
                type=custom,value=${{ steps.get_version.outputs.version }}
            labels: |
                org.opencontainers.image.title=com.projectterris.external-secrets-reloader
                org.opencontainers.image.description=External Secrets Reloader
                org.opencontainers.image.vendor=project-terris

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4.0.0
        id: push
        with:
          context: .
          push: true
          visibility: public
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}